*{}

body{
	background-color: rgb(218,226,227);
    background-image: url('../images/background.jpeg');
    background-size: 100%;

}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.jumbotron{
	background-color: rgba(255,255,255,0);
	color:rgb(79,100,102);
	font-family: 'Nunito', sans-serif;
	padding: 10px;
}

#maincolsrow{

}

div{}

.panel-default{
	background-image: url('../images/tag.png');	
    background-size:800px;
    background-color: rgba(255,255,255,0.0);
    border:0px;
    padding:0 0 0 70px;
}


#rightcol{
	background-color: rgba(255,255,255,0);
	border: 0px;
	padding: 0 10px 0 10px;
	margin:0 15px 0 15px;
}

.OPTION{
	background-color: rgb(123,166,145);
	border: 0;
	width:180px;
	height:100px;
	padding: 0px;
	margin:10px 5px 10px 5px;
}

.Submit{
	background-color: rgb(123,166,145);
	border: 0;
	white-space: normal;
	width:120px;
	height:40px;
	padding: 0px;
	margin: 30px 0 0 0;
}

.panel-default > .panel-heading{
	border:2px rgb(79,100,102);
	margin: 0 0 10px 0;
	background-color: rgba(255,255,255,0.4);
	font-weight:bold;
	font-size: 20px;	
	margin: 0 50px;
}
#results-body{
	border:0px;
	background: 0;
}